*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.85),
    rgba(0,0,0,0.85)),url(images/theater-image-background.png);
    background-size: cover;
    background-position: center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexbox-item{
    margin: 20px;
    padding: 20px;
    cursor: pointer;
}

.flexbox-item-1{
    display: grid;
    grid-template-columns: 25px 40px 25px 50px;
}

.flexbox-item-2 ul li{
    list-style: none;
    min-width: auto; 
    display: inline-block;
    align-self: end;
    font-size: 20px;
    font-weight: lighter;
}

.navbar ul li{
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: green;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: green;
}

h1, h2, h5{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.show_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.show_info h2{
    font-size: 50px;
    padding: 20px;
}

.show_info h5{
    font-size: 25px;
    padding: 20px;

}

.show_info img{
    border-end-end-radius: 30%;
    border-color: black;
    border-style: solid;
    border-start-start-radius: 30%;
    padding: 20px;;
}

.show_info button{
    height: 50px;
    width: 35%;
    background-color: #008599;
    font-size: large;
    font-weight: 800;
}

.buy_button:hover{
    color: red;
}